body{
    background-color: rgb(250, 250, 242);
}

hr.nextSection{
    border: 1px solid rgba(255, 0, 0, 0.37);
}

hr.inSection{
    border: 0.5px solid rgba(255, 0, 0, 0.123);
}

.card-img-top{
    padding: 10px;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
}

.carousel .noticia-image{
    width:100%;
}

.noticia-card{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5%;
}

.noticia-card:hover{
    background-color: rgb(221, 221, 221);
}

.noticia-card.destacado:hover{
    background-color: rgb(201, 184, 154);
}

.noticia-card h5{
    color: coral !important;
    font-weight: 600;
}

.noticia-card a{
    text-decoration: none;
}
.noticia-card a:hover{
    text-decoration: none;
}

.noticia-card .card-text{
    font-weight: 200;
}

div.destacado{
 background-color: rgb(255, 249, 214);
}

.card-img-overlay{
    padding: 0 !important;
    margin: 0;
    
}

.card-img-overlay img{
    width: 100%;
    border-top-right-radius: 6%;
    border-top-left-radius: 6%;
}

h1{
    text-align: center;
}