.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;   
}

.nav-logo{
    background-color: rgb(136, 23, 8) !important;
}

.nav-logo a{
    color: whitesmoke;
}

.nav-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.sections{
    width: 100%;
}