.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;   
}

.nav-logo{
    background-color: rgb(136, 23, 8) !important;
}

.nav-logo a{
    color: whitesmoke;
}