.btn-drop{
    background-color: rgb(136, 23, 8) !important;
    color: whitesmoke;
    width: 25%;
}
.btn-drop:hover{
    background-color: rgb(153, 87, 79) !important;
    color: whitesmoke;
}
.dropdown{
    margin-bottom: 15px;
}
.btn-normal{
    display: block;
    background-color: rgb(136, 23, 8) !important;
    color: whitesmoke;
}

.input-multimedia{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input-multimedia + label {
    background-color: rgb(136, 23, 8) !important;
    color: whitesmoke;  
    cursor: pointer;
    display: block;
}
.input-multimedia:focus + label,
.input-multimedia+label:hover{
    background-color: rgb(153, 87, 79) !important;
    color: whitesmoke;
}

.btn-submit{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    background-color: whitesmoke;
    border-color: rgb(136, 23, 8);
}
.btn-submit:hover{
    background-color: rgb(136, 23, 8);
    color: whitesmoke;
}