.publicaiones a {
    text-decoration: none!important;
}
.post-innerbox {
    padding: 10px;
}

.post-outbox {
    border-top: rgb(207, 135, 122) solid 1px;
    margin-bottom: 50px;
}

.post-outbox .col-md-2 p{
    text-align: right;
    padding: 10px;
    border-right: rgb(207, 135, 122) solid 1px;
}

.publicaciones{
    margin-top: 50px;
}