.post-outbox {
    border-radius: 0px;
    border: 1px solid transparent;

    border-top: rgb(207, 135, 122) solid 1px;
    margin-bottom: 50px;
}

.post-outbox .col-md-2 p{
    text-align: right;
    padding: 10px;
    border-right: rgb(207, 135, 122) solid 1px;
}
.post-outbox:hover{
    border: 1px solid transparent;
    border-top: rgb(207, 135, 122) solid 1px;
    border-radius: 0px;
}

.publicaciones{
    margin-top: 50px;
}